@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Honk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.animated-text {
    font-size: 1.5vw;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(30, end) infinite, blink-caret .75s step-end infinite;
    animation-delay: 0s;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

/* Styling for the snake link */
.snake-link {
    position: fixed;
    z-index: 1;
    bottom: 20px;
    font-size: 5em;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.snake-link:hover {
    color: #f0f;
}

/* Hiding the snake link on mobile devices */
@media (max-width: 600px) {
    .snake-link {
        display: none;
    }
    .animated-text {
        font-size: 4vw;
    }
}
